.shop-section {
  display: flex;
  ul li {
    margin-bottom: 10px;
    margin-top: 5px;
  }
}

.shop-title {
  margin-left: 10px;
}

.shop-list {
  text-decoration: none;
  color: $secondaryColor;
  margin-right: 150px;
}

.shop-position {
  margin-left: 100px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.shop-button {
  background-color: $secondaryColor;
  color: $mainColor;
  margin-top: 18px;
}

.shop-position button {
  background-color: $secondaryColor;
  color: $mainColor;
  width: 130px;
  height: 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: $mainColor;
    color: $secondaryColor;
    box-shadow: 0px 2px 10px $shadowColor;
  }
}

//end shop

//start product detail

.pd-h1 {
  margin-left: 10px;
  margin-bottom: 10px;
}

.div-img-product {
  display: flex;
  margin-left: 10px;
  margin-bottom: 30px;
}

.pd-title-position {
  margin-top: 120px;
  margin-left: 100px;
  margin-bottom: 0px;
}

.pd-text-position {
  color: $tertiaryColor;
  margin-top: 10px;
  margin-left: 100px;
  margin-bottom: 10px;
}

.pd-price-position {
  margin-top: 10px;
  margin-left: 100px;
  margin-bottom: 10px;
}

.pd-button {
  background-color: $secondaryColor;
  color: $mainColor;
  width: 130px;
  height: 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-left: 100px;
  &:hover {
    background-color: $mainColor;
    color: $secondaryColor;
    box-shadow: 0px 2px 10px $shadowColor;
  }
}

.section-pd {
  display: flex;
  display: inline-block;
  margin-bottom: 25px;
  h1 {
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  h3 {
    margin-left: 10px;
    margin-right: 110px;
  }
}
