// variables globales

//colores
$mainColor: white;
$secondaryColor: black;
$tertiaryColor: rgb(142, 142, 142);
$shadowColor: rgba (0, 0, 0, 0.3);

//fonts
$mainFont: "Arial", "Helvetica", "sans-serif";
$textH1: 100%;
$textH2: 90%;
$textH3: 80%;
$textH4: 70%;
